ejemplo DataFrame de Países

In [8]:
print('Hola mundo')

Hola mundo

In [9]:
import pandas as pd

Creamos un diccionario con países

In [14]:
data_pais={'pais':['Brasil','México','España','Perú','Colombia','Venezuela']
    , 'capital':['Brasilia','Ciudad de México','Madrid','Lima','Bogotá','Caracas']
    , 'superficie':[8.5,1.9,0.6,0.4,1.6,0.9]}

In [22]:
df=pd.DataFrame(data_pais)
df

        pais           capital  superficie
0     Brasil          Brasilia         8.5
1     México  Ciudad de México         1.9
2     España            Madrid         0.6
3       Perú              Lima         0.4
4   Colombia            Bogotá         1.6
5  Venezuela           Caracas         0.9

In [25]:
df[('capital')]

0            Brasilia
1    Ciudad de México
2              Madrid
3                Lima
4              Bogotá
5             Caracas
Name: capital, dtype: object

In [30]:
df[['pais','capital']]

        pais           capital
0     Brasil          Brasilia
1     México  Ciudad de México
2     España            Madrid
3       Perú              Lima
4   Colombia            Bogotá
5  Venezuela           Caracas

In [ ]:
df.index=['BR', 'ME','']

In [28]:
df.iloc[[2,4],[1,2]]

  capital  superficie
2  Madrid         0.6
4  Bogotá         1.6

In [29]:
df.loc[:,['capital','superficie']]

            capital  superficie
0          Brasilia         8.5
1  Ciudad de México         1.9
2            Madrid         0.6
3              Lima         0.4
4            Bogotá         1.6
5           Caracas         0.9